
html{
}
body{
    background-color: rgb(57, 247, 231);
    padding: 50px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: clamp(15px, 4vw, 50px);
    font-family: 'Kaushan Script', cursive;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn{
    width: 20vw;
    font-family: 'Indie Flower', cursive;
    font-size: clamp(15px, 3vw, 30px);
    background-color: rgb(7, 250, 108);
    border-radius: 8px;
}

.container{
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.book-card{
    border: 5px double rgb(0, 0, 0);
    background-color: antiquewhite;
    border-radius: 8px;
    overflow-wrap: break-word;
    min-width: 200px;
    max-width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
    padding: 8px;
    font-size: clamp(20px, 2vw, 25px);
}

.book-buttons-container{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}
.book-buttons-container > *{
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    font-size: clamp(15px, 2vw, 25px);
    padding: 10px;
    background-color: rgb(141, 28, 28);
    color: white;
    border-radius: 8px;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 250ms opacity ease-in;
}
.visible{
    opacity: 1;
    pointer-events: auto;
}
.modal-container{
    font-family: 'Kaushan Script', cursive;
    font-size: clamp(30px, 3vw, 40px);
    background-color: white;
    width: max(40vw,400px);
    padding: 10px;
    border-radius: 8px;
    border: 10px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-container > h2{
    justify-self: center;
}
form{
    font-family: 'Indie Flower', cursive;
    font-size: clamp(15px, 1vw, 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
form > fieldset{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}
fieldset > input{
    margin-left: 10px;
    height: clamp(10px, 2vh, 20px);
}

.buttons-container{
    align-self: center;

    display: flex;

    padding: 10px;
    width: max(30vw,200px);
    justify-content: space-between;
}
.buttons-container > *{
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    font-size: clamp(15px, 2vw, 25px);
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 8px;
} 






  



  
  