html{

}
body{
    background-color: rgb(57, 247, 231);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: max(15px, 4vw);
    font-family: 'Kaushan Script', cursive;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}